:root{
  --success: #4e84ee;
}

.bar1 {
  height: 64px;
  padding: 12px;
}

.bar2 {
  background-color: #fafafa;
  height: 57px;
  padding: 5px;
  color: rgb(25, 103, 210);
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}

.btn-success {
  color: #1967d2;
  background-color: #fafafa;
  border-color: #dadce0;
}

.btn-success:hover, .btn-success.disabled, .btn-success:disabled {
  color: #3968b3;
  background-color: #f1f5f9;
  border-color: #dadce0;
}

.btn-success:focus, .btn-success.focus {
  color: #1967d2;
  background-color: #fafafa;
  border-color: #dadce0;
}


.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #3968b3;
  background-color: #f1f5f9;
  border-color: #dadce0;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem #c9dbf8;
}

.row {
  margin-top: 4px;
  padding: 0px;
  border: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 0.4rem;
  box-shadow: 0 0 0 0.1rem rgba(104, 200, 255, 0.164);
}

.form-control {
padding: 0px;
}

.col-6 {
  padding: 0px;
  border: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}

textarea {
  padding: 0px;
  margin: 0px;
}

.blue {
  color: #4285f4;
}

.red {
  color: #ea4335;
}

.green {
  color: #34a853;
}

.grey {
  color: #5f6368;
}